<!doctype html>
<html lang="en">
  <head>
    <title>CORS Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container fullHeight">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://c9.io" class="brand">Cloud9 IDE</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>CORS Chat Example</h1>
      </div>
      <div class="row fullHeight">
        <textarea readonly="readonly" spellcheck="false"></textarea>
        <div class="row controls">
          <form id="msgForm" action="/messages">
            <div class="span3"><input name="username" type="text" class="input-block-level" placeholder="Your Name"></div>
            <div class="input-append span9">
              <input name="message" type="text" class="span7" placeholder="Message">
              <input type="submit" class="span2 btn btn-primary" value="Send">
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script>
    
      // Ajax form submission
      $("#msgForm").submit(function(event) {
        event.preventDefault();
        
        var $form = $(this);
        $.post(
            $form.attr( "action" ),
            $form.serialize()
        );
      });
      
      // Last message retrieved from the server
      var lastMsgId = -1;
      
      // Message polling (1 second)
      function pollChatServer() {
        
        $.getJSON("/messages", {"lastMsgId": lastMsgId}, function (data) {
          
          if (!data) return;
          
          if (lastMsgId == -1)
          {
            // Ignore message, we just want to know which was the last one
            lastMsgId = data.id;
            return;
          }
          
          // Format new messages
          var newMessages = "";
          for (var i = 0; i < data.length; ++i) {
            
            var origin = "";
            if (data[i].origin !== "") {
              origin = " (" + data[i].origin + ")";
            }
            
            newMessages += data[i].username + origin + ": " + data[i].message + "\n";
            lastMsgId = data[i].id;
          }
          
          // Append to chat
          var chat = $("textarea").get(0);
          chat.value += newMessages;
          
          // Scroll to bottom
          chat.scrollTop = chat.scrollHeight;
        })
        .always(function () {
          // Polling
          setTimeout(function() {
            pollChatServer();
          }, 1000);
        });
      };
    
      pollChatServer();
    
    </script>
    
  </body>
</html>
